html, body
  font-family 'Museo Sans W01 300', 'Museo Sans W01 500', 'Museo Sans W01 700', 'Museo W01 300', 'Museo W01 700',  sans-serif
  font-size 15px
  line-height 1.6
  color color_dark_grey

a
  color color_link
  font-weight bold
  font-weight normal
  transition all .3s ease-in-out
  text-decoration underline
  &:hover
    color lighten(color_body_text, 30%)

.tac
  text-align center

h1, h2, h3, h4
  margin 0
  margin-bottom 1rem
  font-weight inherit
  line-height 1.2

h1
  font-size 2.074em
h2
  font-size 1.728em
h3
  font-size 1.44em
h4
  font-size 1.2em

.ovh
  overflow hidden

label
  -webkit-user-select none
  user-select none
