color_body = rgb(244,244,244)
color_black = #111
color_grey = #f4f4f4
color_grey_darker = #858A8D

color_blue = rgb(138,213,237)
color_green = rgb(118,188,71)

color_body_text = darken(#666, 25%)
color_link = #7EC1D6
color_light_grey = #C3C3C3
color_lighter_grey = #E6E6E6
color_dark_grey = #505659

limit = 1100px
bootstrap_limit = 767px
table_min_width = 660px
